node_modules
.next
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.tsbuildinfo

# SQLite database files
# Temporarily commented out to restore database to Railway
# data/website.db
data/website.db-shm
data/website.db-wal
backup*.sql
